{% extends 'base_in.html' %}

{% block 'titulo' %} Transações {% endblock %}

{% block 'conteudo' %} 

<h1 class="title">VISUALIZAR TRANSAÇÕES</h1>
<br>

<table class="table table-striped">

    <td><b> BANCO_ORIGEM </b></td>
    <td><b> AGENCIA_ORIGEM </b></td>
    <td><b> CONTA_ORIGEM </b></td>
    <td><b> BANCO_DESTINO </b></td>
    <td><b> AGENCIA_DESTINO </b></td>
    <td><b> CONTA_DESTINO </b></td>
    <td><b> VALOR </b></td>
    <td><b> DATA/HORA </b></td>

    {%for row in transactions%}
    <tr>
        <td>{{row.banco_origem}}</td>
        <td>{{row.agencia_origem}}</td>
        <td>{{row.conta_origem}}</td>
        <td>{{row.banco_destino}}</td>
        <td>{{row.agencia_destino}}</td>
        <td>{{row.conta_destino}}</td>
        <td>{{row.valor}}</td>
        <td>{{row.data_hora}}</td>

    </tr>
    {%endfor%}

</table>

{% endblock %}